{% extends 'base.html' %}
{% load static %}
{% block title %}Mes Recettes{% endblock %}
{% load custom_filters %}

{% block content %}
<!-- En-tête modernisé -->
{% comment %} <div class="max-w-screen-lg mx-auto px-4 py-6 bg-blue-600 rounded-lg shadow-md"> {% endcomment %}
<div class="container mx-auto px-4 py-6 bg-blue-600 rounded-lg shadow-md">
    <h1 class="text-4xl font-bold text-white text-center">🍽️ Nos Recettes de Cuisine</h1>
</div>

<div class="w-full">
        <img src="{% static 'img/cuisine2.png' %}" alt="Recettes" class="w-full h-48 object-cover rounded-lg shadow-md">
</div>
<!-- Titre avec effet -->
<div class="w-full mx-auto text-center mt-6">
    <h2 class="mb-6 text-3xl md:text-4xl font-bold text-gray-900">
        <span class="text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-purple-500">
            Les meilleures créations gourmandes
        </span>
    </h2>
</div>
<div class="container mx-auto flex flex-wrap items-center justify-between mb-4 gap-3">

    <!-- Bouton Ajouter -->
    <a href="{% url 'recettes:recette_create' %}"
       class="inline-flex items-center gap-2
              bg-green-600 text-white px-5 py-3
              rounded-lg shadow hover:bg-green-700 transition">
        ➕ Ajouter une recette
    </a>

    <!-- Formulaire de recherche -->
    <form method="GET" action=""
          class="flex flex-wrap items-center gap-2">

        <input
            class="border border-gray-300 rounded-xl px-4 py-2 shadow-md
                   w-full sm:w-64
                   focus:ring focus:ring-blue-300"
            name="q"
            type="text"
            placeholder="🔍 Rechercher..."
            value="{{ request.GET.q }}">

        <select name="categorie"
                class="border border-gray-300 rounded-xl px-4 py-2 shadow-md
                       focus:ring focus:ring-green-300">
            <option value="">Toutes les catégories</option>
            {% for cat in categories %}
                <option value="{{ cat.id }}"
                        {% if request.GET.categorie == cat.id|stringformat:"s" %}selected{% endif %}>
                    {{ cat.nom }}
                </option>
            {% endfor %}
        </select>

        <button type="submit"
                class="px-4 py-2 bg-blue-600 text-white rounded-lg
                       shadow-md hover:bg-blue-700 transition">
            <i class="fas fa-search"></i>
        </button>
    </form>

</div>



<!-- Table des recettes -->
<div class="container mx-auto bg-white shadow-lg rounded-lg overflow-hidden p-4">
    <div class="overflow-x-auto">
        <table class="w-full text-left">
            <thead class="bg-blue-600 text-white uppercase">
                <tr>
                    <th class="p-3 rounded-tl-lg">Titre</th>
                    <th class="p-3">Catégorie</th>
                    <th class="p-3 text-center">Temps total</th>
                    <th class="p-3 text-center">Note</th>
                    <th class="p-3 text-center hidden md:table-cell">Image</th>
                    <th class="p-3 rounded-tr-lg text-center">Détails</th>
                     <th class="p-3 rounded-tr-lg text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for recette in recettes %}
               <!-- <tr class="border-b hover:bg-gray-100 transition"> -->
                <tr class="border-b hover:bg-gray-100 transition group">

                    <tr class="border-b hover:bg-gray-100 transition relative group">
                    <td class="p-3 relative">
                        <a href="{% url 'recettes:detail' recette.id %}"
                           class="absolute inset-0 z-10"
                           aria-label="Voir la recette"></a>

                        <span class="relative z-20 text-blue-600 group-hover:underline">
                            {{ recette.titre }}
                        </span>
                    </td>

                    <td class="p-3">{{ recette.categorie.nom }}</td>
                    <!-- <td class="p-3 text-left hidden md:table-cell">{{ recette.description }}</td> -->
                    <td class="p-3 text-center">{{ recette.temps_preparation|add:recette.temps_cuisson }} min.</td>
                    <td class="p-3 text-center text-yellow-400 text-sm">
                      {% for _ in ""|rjust:recette.note %}
                          ★
                      {% endfor %}
                    </td>
                    <td class="p-3 text-center hidden md:table-cell">
                        <a href="{% url 'recettes:detail' recette.id %}"
                        >
                        {% if recette.image %}
                            <img src="{{ recette.image.url }}" alt="Recette" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                        {% else %}
                            <span class="text-gray-400 italic">Pas d'image</span>
                        {% endif %}
                        </a>
                    </td>
                  <td class="p-3 text-center">
                    <div class="flex justify-center">
                        <a href="{% url 'recettes:detail' recette.id %}"
                           class="h-24 w-full max-w-[120px]
                                  flex items-center justify-center
                                  bg-blue-500 text-white px-3 rounded-lg
                                  shadow hover:bg-blue-700 transition">
                            Voir 👀
                        </a>
                    </div>
                </td>

                <td class="p-3 text-center">
                    <div class="flex justify-center">
                        <a href="{% url 'recettes:recette_update' recette.id %}"
                           class="h-24 w-full max-w-[120px]
                                  flex items-center justify-center
                                  bg-gray-500 text-white px-3 rounded-lg
                                  shadow hover:bg-gray-700 transition">
                            ✏️ Modifier
                        </a>
                    </div>
                </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Pagination -->
{% if is_paginated %}
<nav class="py-4 flex justify-center">
    {% if page_obj.has_previous %}
        {% comment %} <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}" class="px-4 py-2 bg-gray-300 rounded-l-lg hover:bg-gray-400">&laquo;</a> {% endcomment %}
        <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}&categorie={{ request.GET.categorie }}" class="px-4 py-2 bg-gray-300 rounded-l-lg hover:bg-gray-400">&laquo;</a>
    {% endif %}
    <div class="px-4 py-2 bg-blue-600 text-white rounded-md">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </div>
    {% if page_obj.has_next %}
        {% comment %} <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}" class="px-4 py-2 bg-gray-300 rounded-r-lg hover:bg-gray-400">&raquo;</a> {% endcomment %}
        <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}&categorie={{ request.GET.categorie }}" class="px-4 py-2 bg-gray-300 rounded-r-lg hover:bg-gray-400">&raquo;</a>
    {% endif %}
</nav>
{% endif %}
{% endblock %}

