<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/objet-style.css' %}" />
    <title>{% block title %}Portail AB{% endblock %}</title>
</head>
<body class="bg-gray-100">
  <header>
    <nav class="bg-blue-500 text-white text-lg font-bold py-3">
       <div class="container mx-auto flex items-center justify-between">
          <a class="text-lg font-bold" href="{% url 'home' %}"><i class="fas fa-home"></i></a>
          <button class="lg:hidden text-white focus:outline-none">
             <span class="fas fa-bars"></span>
          </button>
    
             <a class="hover:underline" href="{% url 'objets:tableau_bord' %}">Tableau de Bord</a>
             <a class="hover:underline" href="{% url 'objets:liste_objets' %}">Objets</a>
             <a class="hover:underline" href="{% url 'documents:liste_documents' %}">Documents</a>
             <a class="hover:underline" href="{% url 'objets:encours' %}">Photos</a>
             <a class="hover:underline" href="{% url 'objets:encours' %}">Cuisine</a>
             <a class="hover:underline" href="{% url 'admin:index' %}" target="_blank">Gestion Données</a>
      
          <ul class="flex items-center space-x-4">
            <div class="text-white font-bold">Bienvenue {{ user.username }} !</div>
            <li class="relative group">
                <a class="text-white hover:text-gray-300" id="navbarDropdown" href="#" role="button">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="absolute right-0 mt-2 w-48 bg-white shadow-lg rounded-md opacity-0 group-hover:opacity-100 transition-opacity">
                    <li>
                        <a href="{% url 'login' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
                            <button type="submit" class="w-full text-left">Se connecter</button>
                        </a>
                    </li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="block w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100">Se déconnecter</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
        
       </div>
    </nav>
 </header>

<main class="container mx-auto p-4">
    {% block content %}  
    {% endblock %}
</main>

<footer class="text-center py-4 rounded-b-xl bg-gray-200">
    {% comment %} <p>Copyright &copy; <a href="" target="_blank"></a></p> {% endcomment %}
</footer>

<script src="{% static 'js/fontawesome-all.min.js' %}"></script>
</body>
</html>
