<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/objet-style.css' %}" />
    <title>{% block title %}Portail AB{% endblock %}</title>
  
</head>
<body style="">
  <header>
    <nav class="navbar navbar-expand navbar-dark navbar-expand bg-primary">
       <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-home"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample02">
             <ul class="navbar-nav me-auto">
                <li class="nav-item">
                   <a class="nav-link active" aria-current="page" href="{% url 'objets:tableau_bord' %}">Tableau de Bord</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link active" aria-current="page" href="{% url 'objets:liste_objets' %}">Objets</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link active" href="{% url 'objets:encours' %}">Documents</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link active" href="{% url 'objets:encours' %}">Photos</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link active" href="{% url 'objets:encours' %}">Cuisine</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link active" aria-current="page" href="{% url 'admin:index' %}" target="_blank">Gestion Données</a>
                </li>
             </ul>
             <ul class="navbar-nav ms-auto">
                <div class='text-white'><b>{{ user.username }}</b></div>
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                   <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item " href="{% url 'login' %}">
                        <button type="submit" class="btn btn-light">Se connecter  </button>
                        </a></li>
                      <li class="dropdown-item" >    
                        <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light">Se déconnecter</button>
                    </form></li>
                  </ul>
                </li>
             </ul>
          </div>
       </div>
    </nav>
 </header>
 


  
<main>
        {% block content %}  
        {% endblock %}
</main>

<footer>
    <div class="container-fluid m-3">
        <div class="row img-fluid">
            <div class="col-12 text-center">
                <p>Copyright &copy; <a href="" target="_blank"></a></p>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/fontawesome-all.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
