<!--detail_objet.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}Détail document{% endblock %}
{% load custom_filters %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-12">
                <h1 class="text-center bg-light">{{ objet.name }}</h1>
            </div>
        </div>
    </div>
        <div class="table-responsive">
            <table
                class="table table-light">
           
                <tbody>
                    <tr class="">
                        <td scope="row"><h3><b>{{document.document}}</b></h3></td>
                        {% if not document.url %}
                        <td><a href="{{ document.Document_pdf.url }}"><img src="{% url 'documents:generate_thumbnail' document.id %}" alt="Miniature du PDF" width="300" height="400" target="_blank"></a></td>
                        {% else %}
                        <td scope="row"><a class="nav-link active" aria-current="page" href="{{ document.url }}"><img src="{% static 'img/onedrive.jpg' %}" alt="oneDrive" width="300" height="400" target="_blank"></a></td>
                        {% endif %}
                    </tr>
                 
                    <tr class="">
                        <td scope="row"><b>Rubrique</b></td>
                        <td>{{ document.rubrique }}</td>
                    </tr>
                    <tr class="">
                        <td scope="row"><b>Type de document</b></td>
                        <td>{{ document.type_document }}</td>
                    </tr>
                    {% comment %} <tr class="">
                        <td scope="row"><b>Mois/année</b></td>
                        <td>{{ document.mois }}/{{ document.annee }}</td>
                    </tr> {% endcomment %}
                    <tr class="">
                        <td scope="row"><b>Date de référence</b></td>
                        <td>{{ document.date_reference }}</td>
                    </tr>
                   
                    <tr class="">
                        <td scope="row"><b>Commentaire</b></td>
                        <td>{{ document.commentaire }}</td>
                    </tr>
                    <tr class="">
                        <td scope="row"><b>Age du document</b></td>
                        <td>{{ document.age_document }} 
                            {% if document.age_document > 1 %}
                            ans
                            {% else %}
                            an
                            {% endif %}
                            {% if not document.type_document.permanente %}
                            sur
                            {{ document.type_document.duree_conservation }}
                            {% endif %}
                            {% if document.type_document.permanente %}
                            <b>(à conserver en permanence)</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="">
                        
                        <td scope="row"><b>
                            {% if document.est_conserve %}
                               <p class='positive-amount'>Le document est encore dans la période de conservation.</p>
                            {% else %}
                            <p class='negative-amount'>Le document dépasse la période de conservation, vous pouvez le détruire.</p>
                            {% endif %}
                        </b></td>
                        <td>
                            {{ document.type_document.precision}}
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    

{% endblock %}