{% extends 'base.html' %}
{% load static %}
{% block title %}Détail document{% endblock %}
{% load custom_filters %}

{% block content %}
    
    <div class="overflow-x-auto">
        <table class="min-w-full bg-gray-100 border">
            <tbody>
                <tr>
                    <td><h3 class="text-4xl"><b>{{ document.document }}</b></h3></td>
                    {% if not document.url %}
                    <td><a href="{{ document.Document_pdf.url }}">
                        <img src="{% url 'documents:generate_thumbnail' document.id %}" alt="Miniature du PDF" class="w-72 h-96" target="_blank">
                    </a></td>
                    {% else %}
                    <td><a href="{{ document.url }}">
                        <img src="{% static 'img/onedrive.jpg' %}" alt="oneDrive" class="w-72 h-96" target="_blank">
                    </a></td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="border px-4 py-2"><b>Rubrique</b></td>
                    <td class="border px-4 py-2">{{ document.rubrique }}</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2"><b>Type de document</b></td>
                    <td class="border px-4 py-2">{{ document.type_document }}</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2"><b>Date de référence</b></td>
                    <td class="border px-4 py-2">{{ document.date_reference }}</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2"><b>Commentaire</b></td>
                    <td class="border px-4 py-2">{{ document.commentaire }}</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2"><b>Age du document</b></td>
                    <td class="border px-4 py-2">
                        {{ document.age_document }} 
                        {% if document.age_document > 1 %} ans {% else %} an {% endif %}
                        {% if not document.type_document.permanente %}
                        sur {{ document.type_document.duree_conservation }}
                        {% endif %}
                        {% if document.type_document.permanente %}
                        <b>(à conserver en permanence)</b>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>
                        {% if document.est_conserve %}
                        <p class="text-green-600">Le document est encore dans la période de conservation.</p>
                        {% else %}
                        <p class="text-red-600">Le document dépasse la période de conservation, vous pouvez le détruire.</p>
                        {% endif %}
                    </b></td>
                    <td>{{ document.type_document.precision}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
