<!--detail_objet.html-->

{% extends 'base.html' %}
{% block title %}Détail document{% endblock %}
{% load custom_filters %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-12">
                <h1 class="text-center bg-light">{{ objet.name }}</h1>
            </div>
        </div>
    </div>
        <div class="table-responsive">
            <table
                class="table table-light">
           
                <tbody>
                    <tr class="">
                        <td scope="row"><h3><b>{{document.document}}</b></h3></td>
                        <td scope="row"></td>
                    </tr>
                    <tr class="">
                        <td scope="row"><a class="nav-link active" aria-current="page" href="{{ document.url }}" target="_blank">Lien vers document Cloud</a></td>
                        <td><a href="{{ document.Document_pdf.url }}"><img src="{% url 'documents:generate_thumbnail' document.id %}" alt="Miniature du PDF" width="300" height="400"></a></td>
                    </tr>
                    <tr class="">
                        <td scope="row"><b>Rubrique</b></td>
                        <td>{{ document.rubrique }}</td>
                    </tr>
                    <tr class="">
                        <td scope="row"><b>Type de document</b></td>
                        <td>{{ document.type_document }}</td>
                    </tr>
                    {% comment %} <tr class="">
                        <td scope="row"><b>Mois/année</b></td>
                        <td>{{ document.mois }}/{{ document.annee }}</td>
                    </tr> {% endcomment %}
                    <tr class="">
                        <td scope="row"><b>Date de référence</b></td>
                        <td>{{ document.date_reference }}</td>
                    </tr>
                   
                    <tr class="">
                        <td scope="row"><b>Commentaire</b></td>
                        <td>{{ document.commentaire }}</td>
                    </tr>
                    <tr class="">
                        <td scope="row"><b>Age du document</b></td>
                        <td>{{ document.age_document }} ans
                        </td>
                    </tr>
                    <tr class="">
                        
                        <td scope="row"><b>
                            {% if document.est_conserve %}
                               <p class='positive-amount'>Le document est encore dans la période de conservation.</p>
                            {% else %}
                            <p class='negative-amount'>Le document dépasse la période de conservation, vous pouvez le détruire.</p>
                            {% endif %}
    
                        </b></td>
                        <td></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    

{% endblock %}