{% extends 'base.html' %}
{% block content %}

<div class="container container-fluid">
<div
    class="row-cols-auto justify-content-center align-items-center g-2"
>
    <div class="col-12">
        <h1 class="text-dark text-center"></h1>
    </div>

</div>

    <div class="row">
        
        <div class="col-12">
            <div class="">
                <h1 class="text-danger">
                    L'accès aux pages de ce site est réservé aux personnes autorisées.
                </h1>
                {% comment %} <h2 class="text-danger text-center">
                    Veuillez contacter son administrateur pour obtenir un compte d'accès.
                </h2> {% endcomment %}
                {% comment %} {% include 'searchobjet.html' %} {% endcomment %}
                {% comment %} {% include 'tableau_bord.html'  %} {% endcomment %}
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
