<!--liste_objet.html-->
{% extends 'base.html' %}
{% block title %}Liste Objets{% endblock %}
{% block content %}
 <div class="container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-12"> <h1 > Liste des objets toujours présents dans l'appartement </h1></div>
    </div>
</div>
     
<div class="container">
    <form method="GET" action="">
        <input class="form" name="q" type="text" placeholder="Recherche" aria-label="Search" value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-primary">
            Rechercher
        </button>
 
    </form>
</div>


<main>
        <div class="container">
        {% for objet in objets %}
           
            <div class="row justify-content-center align-items-center g-2">
                <div class="col-2">
                    <a href="{% url 'objets:detail_objet' objet.id %}">  <img src="{{ objet.photo.url }}" alt="{{ objet.name }}" width="150" height="150"></a>
                </div>
            
                <div class="col-4">
                    <p><b>Description de l'objet     : </b>{{ objet.name }}<p>
                    <p><b>Rubrique contrat assurance : </b>{{ objet.rubrique }}</p>
                    <p><b>Catégorie du bien          : </b>{{ objet.categorie }}</p>
                 
                </div>
                <div class="col-6">
                    <p><b>Date de l'achat   : </b>{{ objet.achat_at }}</p>
                    <p><b>Prix d'achat ou estimé     : </b>{{ objet.montant }}</p> 
                </div>
            <div class="row justify-content-center align-items-center g-2">
                    <div class="col-12 text-decoration-underline" >
                      <p> ___________________________________________________________________________________________________________________________________________________________________________</p>
                    </div>
                    
                    </div>
            </div>  
     
        {% endfor %}
    </div>
</main>
{% if is_paginated %}
   <nav>
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
        {% endif %}
          <li class="page-item active"><a href="#" class="page-link">{{ page_obj.number }}/ {{ page_obj.paginator.num_pages }} </a></li>
        {% if page_obj.has_next %}
          <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
        {% endif %}
      </ul>
   </nav>
{% endif %}

{% endblock %}


	