<!--liste_objet.html-->
{% extends 'base.html' %}
{% block title %}Liste Objets{% endblock %}
{% load custom_filters %}
{% block content %}
 <div class="container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-12 text-center"> <h1 > Liste des objets toujours présents dans l'appartement </h1></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="{% url 'objets:export_to_excel' %}" class="btn btn-primary">Exporter vers Excel</a>
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
        <ul class="navbar-nav ms-auto text-end">
           
            <form method="GET" action="">
                <input class="form-control-sm" name="q" type="text" placeholder="Recherche" aria-label="Search" value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
         
            </form>
        </ul>
        </div>
    </div>
</div>
<main>
    
        <div class="container container-fluid">
        <div class="table-responsive">
        <table
        class="table table-light">
        <thead>       
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Description</th>
                <th scope="col">Assurance</th>       
                <th scope="col">catégorie</th>  
                <th scope="col">Pièce</th>
                <th scope="col">Prix d'achat</th>
                <th scope="col">Date Achat</th>
            </tr>
            </thead>
        {% for objet in objets %}
                <tbody>
                    <tr class="">
                        <td scope="row"><a href="{% url 'objets:detail_objet' objet.id %}">  <img src="{{ objet.photo.url }}" alt="{{ objet.name }}" width="133" height="100"></a></td>
                        <td scope="row">{{ objet.name }}</td>
                        <td scope="row">{{ objet.rubrique }}</td>
                        <td scope="row">{{ objet.categorie }}</td>
                        <td scope="row">{{ objet.piece }}</td>
                        <td scope="row">{{ objet.montant|format_currency }}</td>
                        <td scope="row">{{ objet.achat_at }}</td>         
                    </tr>
                </tbody>    
        {% endfor %}
    </table>
    </div>

    </div>
</main>
{% if is_paginated %}
   <nav>
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
        {% endif %}
          <li class="page-item active"><a href="#" class="page-link">{{ page_obj.number }}/ {{ page_obj.paginator.num_pages }} </a></li>
        {% if page_obj.has_next %}
          <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
        {% endif %}
      </ul>
   </nav>
{% endif %}

{% endblock %}


	