{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mx-auto px-4 flex justify-center items-center">
    <div class="max-w-md w-full bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-center text-2xl font-bold text-gray-700">Veuillez vous connecter</h2>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="space-y-4">
                <div>
                    <label class="block text-gray-600 font-medium">{{ form.username.label_tag }}</label>
                    {{ form.username }}
                </div>
                <div>
                    <label class="block text-gray-600 font-medium">{{ form.password.label_tag }}</label>
                    {{ form.password }}
                </div>
                <div class="flex justify-end">
                    <button type="submit" class="w-full bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-200">
                        Se connecter
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

