{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="container">
        <h2 class="mt-5 text-center">Veuillez vous connecter, merci.</h2>
        <form method="post" class="mt-3">
            {% csrf_token %}
            <div
                class="table-responsive">
                <table class="table table-fw-light">

                    <tbody>
                        <tr class="">
                            <td scope="row">{{ form.username.label_tag }}</td>
                            <td> {{ form.username }}</td>
                        </tr>
                        <tr class="">
                            <td scope="row">{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                        <tr class="">
                            <td></td>
                            <td scope="row"><button type="submit" class="btn btn-primary">Se connecter</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</body>

{% endblock %}
