{% extends 'base.html' %}
{% block title %}Répartition Contrat Assurance{% endblock %}
{% load custom_filters %}
{% load static %}

{% block content %}
<!-- En-tête modernisé -->
<div class="container mx-auto px-4 py-6 bg-blue-600 rounded-lg shadow-md">
    <h1 class="text-4xl font-bold text-white text-center">📊 Tableau de bord</h1>
</div>

<!-- Section principale -->
<div class="container mx-auto px-4 mt-6">
    <div class="flex flex-wrap">
        <!-- Tableau principal -->
        <div class="w-full md:w-7/12 overflow-x-auto">
            <h2 class="text-center text-xl font-semibold mb-4 text-gray-900 bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-purple-500">
                Répartition contrat assurance
            </h2>
        
            <div class="bg-white shadow-md rounded-lg overflow-x-auto p-4">
                <table class="w-full text-sm border-collapse">
                    <thead class="bg-blue-600 text-white uppercase">
                        <tr>
                            <th class="p-3">Rubrique</th>
                            <th class="p-3">Couverture</th>
                            <th class="p-3">Montant consommé</th>
                            <th class="p-3">Montant restant</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rubrique in rubriques %}
                        <tr class="border-b hover:bg-gray-100 transition">
                            <td class="p-3 whitespace-nowrap">{{ rubrique.name }}</td>
                            <td class="p-3 whitespace-nowrap">{{ rubrique.montant_assu|format_currency }}</td>
                            <td class="p-3 whitespace-nowrap">{{ rubrique.total_montant|format_currency }}</td>
                            <td class="p-3 whitespace-nowrap {% if rubrique.montant_assu|subtract:rubrique.total_montant < 0 %}text-red-600{% else %}text-green-600{% endif %}">
                                <b>{{ rubrique.montant_assu|subtract:rubrique.total_montant|format_currency }}</b>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        

        <!-- Graphique -->
        <div class="w-full md:w-5/12 flex justify-center mt-6 md:mt-0">
            <img src="data:image/png;base64,{{ barchart }}" alt="Graphique à Barres" class="w-full md:w-96 h-auto rounded-2xl shadow-md">
        </div>
    </div>
</div>

<!-- Répartition par pièce -->
<div class="container mx-auto px-4 mt-12">
    <h2 class="text-center text-xl font-semibold mb-4 text-gray-900 bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-purple-500">
        Répartition par pièce de l'appartement
    </h2>

    <div class="bg-white shadow-md rounded-lg overflow-x-auto p-4">
        <table class="w-full text-sm border-collapse">
            <thead class="bg-blue-600 text-white uppercase">
                <tr>
                    <th class="p-3">Pièce</th>
                    <th class="p-3">Total pièce</th>
                </tr>
            </thead>
            <tbody>
                {% for piece in pieces %}
                <tr class="border-b hover:bg-gray-100 transition">
                    <td class="p-3">{{ piece.piece }}</td>
                    <td class="p-3 text-right">{{ piece.total_montant|format_currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Répartition par catégorie -->
<div class="container mx-auto px-4 mt-12">
    <h2 class="text-center text-xl font-semibold mb-4 text-gray-900 bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-purple-500">
        Répartition par catégorie
    </h2>

    <div class="bg-white shadow-md rounded-lg overflow-x-auto p-4">
        <table class="w-full text-sm border-collapse">
            <thead class="bg-blue-600 text-white uppercase">
                <tr>
                    <th class="p-3">Catégorie</th>
                    <th class="p-3">Total catégorie</th>
                </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                <tr class="border-b hover:bg-gray-100 transition">
                    <td class="p-3">{{ categorie.categorie__name }}</td>
                    <td class="p-3 text-right">{{ categorie.total_montant|format_currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
