<!--tableau_bord.html-->

{% extends 'base.html' %}
{% block title %}Répartation Contrat Assurance{% endblock %}
{% load custom_filters %}
{% block content %}
<div
    class="container">
    <div class="row">
        <div class="col-12">
            <h1>Tableau de bord</h1>
        </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-6">   
            <div class="table-responsive" >
                <table class="table table-primary">
                    <thead>
                    <tr  Class="">        
                        <th scope="row">Répartition contrat assuance</th>
                        <th></th>+
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th scope="col">Rubrique Assurance</th>
                        <th scope="col">Couverture Assurance</th>
                        <th scope="col">Montant consommé</th>
                        <th scope="col">Montant restant</th>
                    </tr>
                
                    </thead>
                    <tbody>
                    
                    {% for rubrique in rubriques %}
                    <tr class="">
                        <td scope="row">{{ rubrique.name }} </td>
                        <td>{{ rubrique.montant_assu }}</td>
                        <td>{{ rubrique.total_montant }}</td>
                        <td>{{ rubrique.montant_assu|subtract:rubrique.total_montant }}</td>
                    </tr>
                    {% endfor %} 
            
                    </tbody>
                </table>
        </div>
        
        </div>
        <div class="col-6">
    
      
    <img src="data:image/png;base64,{{ barchart }}" alt="Graphique à Barres">
        </div>
        
    </div>
</div>

{% endblock %}