{% extends 'base.html' %}
{% block title %}Liste Objets{% endblock %}
{% load custom_filters %}

{% block content %}
<!-- En-tête modernisé -->
<div class="container mx-auto px-4 py-6 bg-blue-600 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold text-white text-center">🛍️ Liste des objets toujours présents</h1>
</div>

<!-- Boutons et Recherche -->
<div class="container mx-auto py-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center">
        <a href="{% url 'objets:export_to_excel' %}" class="bg-green-600 text-white px-4 py-3 rounded-lg shadow-md hover:bg-green-700 transition flex items-center justify-center">
            Exporter <i class="fas fa-file-excel ml-2"></i>
        </a>

        <form method="GET" action="" class="flex items-center space-x-2 w-full sm:w-auto">
            <input class="flex-grow border border-gray-300 rounded-lg px-4 py-2 shadow focus:outline-none focus:ring focus:ring-blue-300" name="q" type="text" placeholder="🔍 Recherche" value="{{ request.GET.q }}">
            <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</div>

<!-- Tableau responsive -->
<main class="container mx-auto px-4">
    <div class="overflow-x-auto bg-white rounded-lg shadow-md p-4">
        <table class="w-full text-sm text-left border-collapse">
            <thead class="bg-blue-600 text-white uppercase">
                <tr>
                    <th class="p-3 rounded-tl-lg">Photo</th>
                    <th class="p-3">Description</th>
                    <th class="p-3">Assurance</th>
                    <th class="p-3">Catégorie</th>
                    <th class="p-3">Pièce</th>
                    <th class="p-3">Prix</th>
                    <th class="p-3 rounded-tr-lg">Date Achat</th>
                </tr>
            </thead>
            <tbody>
                {% for objet in objets %}
                <tr class="border-b hover:bg-gray-100 transition">
                 
                    <td class="p-3 text-center">
                        <a href="{% url 'objets:detail_objet' objet.id %}">
                            <img src="{{ objet.photo.url }}" alt="{{ objet.name }}" class="w-16 rounded-lg shadow-md">
                        </a>
                    </td>
                    <td class="p-3">
                         <a href="{% url 'objets:detail_objet' objet.id %}">
                        {{ objet.name }}
                        </a>
                    </td>
                    <td class="p-3">{{ objet.rubrique }}</td>
                    <td class="p-3">{{ objet.categorie }}</td>
                    <td class="p-3">{{ objet.piece }}</td>
                    <td class="p-3 font-bold text-green-600">{{ objet.montant|format_currency }}</td>
                    <td class="p-3">{{ objet.achat_at }}</td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<!-- Pagination -->
{% if is_paginated %}
<nav class="py-4 flex justify-center">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}" class="px-4 py-2 bg-gray-300 rounded-l-lg hover:bg-gray-400">&laquo;</a>
    {% endif %}
    <div class="px-4 py-2 bg-blue-600 text-white rounded-md">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </div>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}" class="px-4 py-2 bg-gray-300 rounded-r-lg hover:bg-gray-400">&raquo;</a>
    {% endif %}
</nav>
{% endif %}

{% endblock %}
