{% extends 'base.html' %}
{% block title %}Mes photos{% endblock %}
{% load custom_filters %}

{% block content %}
<div class="container mx-auto px-6 py-6 flex flex-col items-center">
    <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="w-full max-w-3xl h-auto rounded-lg shadow-lg transform hover:scale-105 transition duration-300">
    
    <h1 class="text-2xl font-bold text-gray-800 mt-4">{{ photo.title }}</h1>

    <a href="{{ photo.image.url }}" download class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg shadow-md transition">
        Télécharger l'image
    </a>
</div>
{% endblock %}
